/* .color {
    border: 1px solid black;
    height: 1em;
    width: 7em;
    text-align: center;
    margin: 10px;
    padding: 5px;
    display: inline-block;
} */
/* #pixel-board {
    height: 25px;
    width: 25px;
} */
/* .pixel {
    height: 1px;
    width: 1px;
} */