/* #color-palette {

} */
.color {
    border: 1px solid black;
    height: 1em;
    width: 1em;
    text-align: center;
    margin: 10px;
    padding: 5px;
    display: inline-block;
}
#pixel-board {
    height: 250px;
    width: 250px;
    display: table;
}
.line {
    display: table-row;
}
.pixel {
    height: 5px;
    width: 5px;
    display: table-cell;
    background-color: white;
}